.container{
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    height: 60vh;
    border-bottom: 1px solid black;
}

.image{
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.student_info{
    width: 70%;
    

}
.student_info h1{
    text-transform: uppercase;
}
.plus{
    width: 10%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.robot{
    box-sizing: border-box;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid black;
    margin-top: 20px;
}

.plus_button{
    width: 50%;
    margin-top: 60px;
    cursor: pointer;
    
}
.grades{
    display: none;
}

