.search{
    padding: 20px;
  
}

.search_text{

    border: none;
    border-bottom: 1px solid grey;
    outline: none;
    width: 97%;
    padding: 10px;
}

.search_text:focus{
    border-bottom: 2px solid rgb(0, 0, 0);
    outline: none;
    width: 100%;
}
