@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap');

body{
  font-family: 'Raleway', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
 
  font-size: 60px;
  color: rgb(0, 0, 0);
  font-weight: 900;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: gray;
  padding: 30px;

}

.app_container{
  background-color: white;
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
}

